@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

a:active {
    color:grey
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

body {
    background-color: grey;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family:'roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
}

.avatar {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 42, 0.548);
}

.info-text {
    margin-left: 20px;
}

.card {
    margin: 10px;
    display: flex;
}

.card p {
    color:rgb(43, 39, 39);
    margin:0;
}

.window {
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 42, 0.548);
    margin-bottom: 10px;
}

.goal {
    background-color:rgb(120, 120, 120);
}

.goal li {
    font-weight: 600;
    margin-bottom: 5px;
}

.time {
    background-color:rgb(110, 110, 110);
}

.table {
    width: 100%;
    padding: 0 200px;
}

#table {
    width: 100%;
    padding: 0px 100px;
    text-align: center;
}

#table th {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

#table td {
    padding: 5px 0;
}

#table td:nth-child(1) {
    text-decoration: underline;
}

.skill {
    background-color:rgb(100, 100, 100);
}

.contact {
    background-color:rgb(90, 90, 90);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    display: block;
    text-align: center;
}

@media (max-width: 745px) {
    .avatar {
        margin-bottom: 20px;
    }
    .card {
        margin: 10px;
        display: block;
        text-align: center;
    }
}

@media (max-width: 589px) {
    .table {
        width: 100%;
        padding: 0 30%;
    }
}